@charset "UTF-8";
.main-header {
	z-index: 1000;
/*     position: fixed; */
/* 	position: sticky-top; */
    width: 100%;
    background-color: aliceblue;
}

.logo-img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}